{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="card">
    <h1>Welcome to my page!</h1>
    <figure>
    <img src="../public/img/caracal.png" width="60px" height="60px"/>
    <figcaption>It's me</figcaption>
    </figure>
    <p>Hello! My name is Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <p>I was born in Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
    <p> In my leisure time I enjoy aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
</div>
{% endblock %}