
{% extends "base.html.twig" %}

{% block title %}Image randomizer{% endblock %}

{% block body %}
<div class="card">
    <p>Sidan visar en slumpad bild kopplad till en siffra från 1 till 6.</p>
    
    <img class="number-img" src="../public/img/{{number}}.jpg" height="150px" width="100px">
</div>
{% endblock %}

