
{% extends "base.html.twig" %}

{% block title %}See deck{% endblock %}

{% block body %}
<div class="card">
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% for var in sessionData %}
    <h1>{{ var }}</h1>
{% endfor %}
</div>
{% endblock %}

